.main {
    padding: 10px 20px;
}

.main ul {
	list-style: none;
}

.schedule {
    position: relative;
    margin: 2em 0;
}

.schedule::before {
    content: 'mobile';
    display: none;
}

@media only screen and (min-width: 800px) {
    .schedule {
        width: 100%;
        max-width: 1400px;
        margin: 2em auto;
    }
    .schedule::after {
        clear: both;
        content: '';
        display: block;
    }
    .schedule::before {
        content: 'desktop';
    }
}

/* Tasks */

.schedule .tasks {
    position: relative;
    z-index: 1;
}

.schedule .tasks .tasks-group {
    margin-bottom: 30px;
}

.schedule .tasks .top-info {
    width: 100%;
    padding: 0 5%;
}

.schedule .tasks .top-info > span {
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: bold;
}

.schedule .tasks .tasks-group > ul {
    list-style: none;
    position: relative;
    padding: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.schedule .tasks .tasks-group > ul::after {
    display: inline-block;
    content: '-';
    width: 1px;
    height: 100%;
    opacity: 0;
    color: transparent;
}

@media only screen and (min-width: 800px) {
    .schedule .tasks {
        float: left;
        width: 100%;
    }
    .schedule .tasks .tasks-group {
        width: 14%;
        float: left;
        border: 1px solid rgb(234, 234, 234);
        margin-bottom: 0;
    }
    .schedule .tasks .tasks-group:not(:first-of-type) {
        border-left-width: 0;
    }
    .schedule .tasks .top-info {
        display: table;
        height: 50px;
        border-bottom: 1px solid rgb(234, 234, 234);
        padding: 0;
    }
    .schedule .tasks .top-info > span {
        display: table-cell;
        vertical-align: middle;
        padding: 0 .5em;
        text-align: center;
        font-weight: normal;
        margin-bottom: 0;
    }
    .schedule .tasks .tasks-group > ul {
        height: 540px;
        display: block;
        overflow: visible;
        padding: 0;
    }
    .schedule .tasks .tasks-group > ul::after {
        clear: both;
        content: '';
        display: block;
    }
    .schedule .tasks .tasks-group > ul::after {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .schedule .tasks {
        width: calc(100% - 60px);
        margin-left: 60px;
    }
}

/* Modal */

.schedule .task-modal {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: visibility .4s, -webkit-transform .4s;
    transition: visibility .4s, -webkit-transform .4s;
    transition: transform .4s, visibility .4s;
    transition: transform .4s, visibility .4s, -webkit-transform .4s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.schedule .task-modal .header {
    position: relative;
    height: 70px;
    display: table;
    width: 100%;
}

.schedule .task-modal .header .content {
    position: relative;
    z-index: 3;
    display: table-cell;
    vertical-align: middle;
    padding: .6em 5%;
}

.schedule .task-modal .body {
    position: relative;
    width: 100%;
    height: calc(100% - 70px);
}

.schedule .task-modal .task-info {
    position: relative;
    z-index: 2;
    line-height: 1.4;
    height: 100%;
    overflow: hidden;
}

.schedule .task-modal .task-info > div {
    overflow: auto;
    height: 100%;
    padding: 1.4em 5%;
}

.schedule .task-modal .header-bg, .schedule .task-modal .body-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.schedule .task-modal .body-bg {
    z-index: 1;
    background: white;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

.schedule .task-modal .header-bg {
    z-index: 2;
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
}

.schedule .task-modal .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.1);
    color: transparent;
    white-space: nowrap;
    text-indent: 100%;
    height: 70px;
    width: 70px;
}

.schedule .task-modal .close::before, .schedule .task-modal .close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: white;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.schedule .task-modal .close::before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.schedule .task-modal .close::after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.schedule .task-modal .task-date {
    display: none;
}

.schedule .task-modal.no-transition {
    -webkit-transition: none;
    transition: none;
}

.schedule .task-modal.no-transition .header-bg, .schedule .task-modal.no-transition .body-bg {
    -webkit-transition: none;
    transition: none;
}

@media only screen and (min-width: 800px) {
    .schedule .task-modal {
        right: auto;
        width: auto;
        height: auto;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        will-change: transform, width, height;
        -webkit-transition: height .4s, width .4s, visibility .4s, -webkit-transform .4s;
        transition: height .4s, width .4s, visibility .4s, -webkit-transform .4s;
        transition: height .4s, width .4s, transform .4s, visibility .4s;
        transition: height .4s, width .4s, transform .4s, visibility .4s, -webkit-transform .4s;
        -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
        transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    }
    .schedule .task-modal .header {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
    }
    .schedule .task-modal .header .content {
        display: block;
        padding: .8em;
    }
    .schedule .task-modal .task-info > div {
        padding: 2em 3em 2em 2em;
    }
    .schedule .task-modal .body {
        height: 100%;
        width: auto;
    }
    .schedule .task-modal .header-bg, .schedule .task-modal .body-bg {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .schedule .task-modal .header-bg {
        -webkit-transition: -webkit-transform .4s;
        transition: -webkit-transform .4s;
        transition: transform .4s;
        transition: transform .4s, -webkit-transform .4s;
        -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
        transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    }
    .schedule .task-modal .body-bg {
        opacity: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .schedule .task-modal .task-date {
        display: block;
    }
    .schedule .task-modal .close, .schedule .task-modal .task-info {
        opacity: 0;
    }
    .schedule .task-modal .close {
        width: 40px;
        height: 40px;
        background: transparent;
    }
    .schedule .task-modal .close::after, .schedule .task-modal .close::before {
        background: rgb(34, 34, 34);
        height: 16px;
    }
}

@media only screen and (min-width: 1000px) {
    .schedule .task-modal .header .content {
        padding: 1.2em;
    }
}

.schedule.modal-is-open .task-modal {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
}

.schedule.modal-is-open .task-modal .task-info > div {
    -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 800px) {
    .schedule.animation-completed .task-modal .close,
    .schedule.content-loaded.animation-completed .task-modal .task-info {
        opacity: 1;
        -webkit-transition: opacity .2s;
        transition: opacity .2s;
    }
    .schedule.modal-is-open .body-bg {
        opacity: 1;
        -webkit-transition: -webkit-transform .4s;
        transition: -webkit-transform .4s;
        transition: transform .4s;
        transition: transform .4s, -webkit-transform .4s;
        -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
        transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    }
}

.schedule .cover-layer {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .4s, visibility .4s;
    transition: opacity .4s, visibility .4s;
}

.schedule.modal-is-open .cover-layer {
    opacity: 1;
    visibility: visible;
}
