.main {
    padding: 10px 20px;
}

.main ul {
	list-style: none;
}

.schedule {
    position: relative;
    margin: 40px 0;
}

.schedule::before {
    content: 'mobile';
    display: none;
}

@media only screen and (min-width: 800px) {
    .schedule {
        width: 100%;
        max-width: 1400px;
        margin: 2em auto;
    }
    .schedule::after {
        clear: both;
        content: '';
        display: block;
    }
    .schedule::before {
        content: 'desktop';
    }
}

/* Tasks */

.schedule .tasks {
    position: relative;
    z-index: 1;
}

.schedule .tasks .tasks-group {
    margin-bottom: 30px;
}

.schedule .tasks .top-info {
    width: 100%;
    padding: 0 5%;
}

.schedule .tasks .top-info > span {
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: bold;
}

.schedule .tasks .tasks-group > ul {
    list-style: none;
    position: relative;
    padding: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.schedule .tasks .tasks-group > ul::after {
    display: inline-block;
    content: '-';
    width: 1px;
    height: 100%;
    opacity: 0;
    color: transparent;
}

@media only screen and (min-width: 800px) {
    .schedule .tasks {
        float: left;
        width: 100%;
    }
    .schedule .tasks .tasks-group {
        width: 14%;
        float: left;
        border: 1px solid rgb(234, 234, 234);
        margin-bottom: 0;
    }
    .schedule .tasks .tasks-group:not(:first-of-type) {
        border-left-width: 0;
    }
    .schedule .tasks .top-info {
        display: table;
        height: 50px;
        border-bottom: 1px solid rgb(234, 234, 234);
        padding: 0;
    }
    .schedule .tasks .top-info > span {
        display: table-cell;
        vertical-align: middle;
        padding: 0 .5em;
        text-align: center;
        font-weight: normal;
        margin-bottom: 0;
    }
    .schedule .tasks .tasks-group > ul {
        height: 540px;
        display: block;
        overflow: visible;
        padding: 0;
    }
    .schedule .tasks .tasks-group > ul::after {
        clear: both;
        content: '';
        display: block;
    }
    .schedule .tasks .tasks-group > ul::after {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .schedule .tasks {
        width: calc(100% - 60px);
        margin-left: 60px;
    }
}
